{% block block_image_text_row_row_row_six %}
    {% set columns = 6 %}
    {# @deprecated tag:v6.5.0 - Use "element.id" directly instead. #}
    {% set id = element.id %}

    {% block block_image_text_row_row_row_six_left %}
        <div class="col-sm-6 col-lg-2">
            {% block block_image_text_row_row_row_six_left_image %}
                {% set element = block.slots.getSlot('left-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_image_text_row_row_row_six_left_text %}
                {% set element = block.slots.getSlot('left-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_text_row_row_row_six_center %}
        <div class="col-sm-6 col-lg-2">
            {% block block_image_text_row_row_row_six_center_image %}
                {% set element = block.slots.getSlot('center-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_image_text_row_row_row_six_center_text %}
                {% set element = block.slots.getSlot('center-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_text_row_row_row_six_right %}
        <div class="col-sm-6 col-lg-2">
            {% block block_image_text_row_row_row_six_right_image %}
                {% set element = block.slots.getSlot('right-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_image_text_row_row_row_six_right_text %}
                {% set element = block.slots.getSlot('right-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_text_row_row_row_six_right_row_four %}
        <div class="col-sm-6 col-lg-2">
            {% block block_image_text_row_row_row_six_right_image_row_four %}
                {% set element = block.slots.getSlot('four-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_image_text_row_row_row_six_right_text_row_four %}
                {% set element = block.slots.getSlot('four-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_text_row_row_row_six_right_row_row_five %}
        <div class="col-sm-6 col-lg-2">
            {% block block_image_text_row_row_row_six_right_image_row_row_five %}
                {% set element = block.slots.getSlot('five-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_image_text_row_row_row_six_right_text_row_row_five %}
                {% set element = block.slots.getSlot('five-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_text_row_row_row_six_right_row_row_six %}
        <div class="col-sm-6 col-lg-2">
            {% block block_image_text_row_row_row_six_right_image_row_row_six %}
                {% set element = block.slots.getSlot('six-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_image_text_row_row_row_six_right_text_row_row_six %}
                {% set element = block.slots.getSlot('six-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
