{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}

{% block page_product_detail_manufacturer %}
    {% set merchant = page.product.extensions.merchants.first() %}

    {% if merchant %}
        <div class="col-md-auto product-detail-merchant">
            <a href="{{ seoUrl('storefront.merchant.detail', {'id': merchant.id}) }}"
               class="product-detail-merchant-link"
               title="{{ merchant.publicCompanyName }}">
               <h4> {{ merchant.publicCompanyName }}<h4/>
 
<a href="{{ merchant.customFields.pinlocation }}" class="btn btn-primary" style="border: 1px solid #d3f9ca; border-radius: 8px; background-color: #fff; color: black; text-decoration: none; display: inline-flex; align-items: center; margin-bottom: 5px; margin-right: 5px;" id="findinstore" onclick="window.location.href='{{ page.merchant.customFields.pinlocation }}'; return false;">
    <i class="fas fa-map-pin" style="margin-right: 3px;"></i> find in Store
</a>
           
    <a href="#" class="btn btn-primary" style="border: 2px solid #d3f9ca; border-radius: 8px; background-color: #d3f9ca; color: black; text-decoration: none; display: inline-flex; align-items: center; margin-bottom: 5px; margin-right: 5px;" id="chatWithMerchantBtn">
                   <svg width="30px" height="30px" viewBox="-122.5 -122.5 1470.02 1470.02" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="2.450032"></g><g id="SVGRepo_iconCarrier"><path fill="#ff9e1f" d="M1041.858 178.02C927.206 63.289 774.753.07 612.325 0 277.617 0 5.232 272.298 5.098 606.991c-.039 106.986 27.915 211.42 81.048 303.476L0 1225.016l321.898-84.406c88.689 48.368 188.547 73.855 290.166 73.896h.258.003c334.654 0 607.08-272.346 607.222-607.023.056-162.208-63.052-314.724-177.689-429.463zm-429.533 933.963h-.197c-90.578-.048-179.402-24.366-256.878-70.339l-18.438-10.93-191.021 50.083 51-186.176-12.013-19.087c-50.525-80.336-77.198-173.175-77.16-268.504.111-278.186 226.507-504.503 504.898-504.503 134.812.056 261.519 52.604 356.814 147.965 95.289 95.36 147.728 222.128 147.688 356.948-.118 278.195-226.522 504.543-504.693 504.543z"></path><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="609.77" y1="1190.114" x2="609.77" y2="21.084"><stop offset="0" stop-color="#054240"></stop><stop offset="1" stop-color="#054240"></stop></linearGradient><path fill="url(#a)" d="M27.875 1190.114l82.211-300.18c-50.719-87.852-77.391-187.523-77.359-289.602.133-319.398 260.078-579.25 579.469-579.25 155.016.07 300.508 60.398 409.898 169.891 109.414 109.492 169.633 255.031 169.57 409.812-.133 319.406-260.094 579.281-579.445 579.281-.023 0 .016 0 0 0h-.258c-96.977-.031-192.266-24.375-276.898-70.5l-307.188 80.548z"></path><image overflow="visible" opacity=".08" width="682" height="639" xlink:href="FCC0802E2AF8A915.png" transform="translate(270.984 291.372)"></image><path fill-rule="evenodd" clip-rule="evenodd" fill="#ff9e1f" d="M462.273 349.294c-11.234-24.977-23.062-25.477-33.75-25.914-8.742-.375-18.75-.352-28.742-.352-10 0-26.25 3.758-39.992 18.766-13.75 15.008-52.5 51.289-52.5 125.078 0 73.797 53.75 145.102 61.242 155.117 7.5 10 103.758 166.266 256.203 226.383 126.695 49.961 152.477 40.023 179.977 37.523s88.734-36.273 101.234-71.297c12.5-35.016 12.5-65.031 8.75-71.305-3.75-6.25-13.75-10-28.75-17.5s-88.734-43.789-102.484-48.789-23.75-7.5-33.75 7.516c-10 15-38.727 48.773-47.477 58.773-8.75 10.023-17.5 11.273-32.5 3.773-15-7.523-63.305-23.344-120.609-74.438-44.586-39.75-74.688-88.844-83.438-103.859-8.75-15-.938-23.125 6.586-30.602 6.734-6.719 15-17.508 22.5-26.266 7.484-8.758 9.984-15.008 14.984-25.008 5-10.016 2.5-18.773-1.25-26.273s-32.898-81.67-46.234-111.326z"></path><path fill="#ff9e1f" d="M1036.898 176.091C923.562 62.677 772.859.185 612.297.114 281.43.114 12.172 269.286 12.039 600.137 12 705.896 39.633 809.13 92.156 900.13L7 1211.067l318.203-83.438c87.672 47.812 186.383 73.008 286.836 73.047h.255.003c330.812 0 600.109-269.219 600.25-600.055.055-160.343-62.328-311.108-175.649-424.53zm-424.601 923.242h-.195c-89.539-.047-177.344-24.086-253.93-69.531l-18.227-10.805-188.828 49.508 50.414-184.039-11.875-18.867c-49.945-79.414-76.312-171.188-76.273-265.422.109-274.992 223.906-498.711 499.102-498.711 133.266.055 258.516 52 352.719 146.266 94.195 94.266 146.031 219.578 145.992 352.852-.118 274.999-223.923 498.749-498.899 498.749z"></path></g></svg>
        Chat with Merchant
    

    <script>
        document.getElementById('chatWithMerchantBtn').addEventListener('click', function() {
            // Get the current page URL
            var currentPageURL = window.location.href;
            
            // Create the WhatsApp message
            var whatsappMessage = encodeURIComponent("Hey there, I came across your product on Orkiya and I'm intrigued to learn more about this product. URL:" + currentPageURL);

            // Construct the WhatsApp URL with the message
            var whatsappURL = "https://wa.me/send?phone={{ merchant.customFields.whatsapp }}&text=" + whatsappMessage;

            // Open the WhatsApp URL in a new tab/window
            window.open(whatsappURL, '_blank');
        });
    </script>
</a>
              


          {% block social_media_sharing %}
          
  <div class="buttons-share">
  <div class="follow">
    
        <span><svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.1" d="M21 6C21 7.65685 19.6569 9 18 9C16.3431 9 15 7.65685 15 6C15 4.34315 16.3431 3 18 3C19.6569 3 21 4.34315 21 6Z" fill="#fff"></path> <path opacity="0.1" d="M21 18C21 19.6569 19.6569 21 18 21C16.3431 21 15 19.6569 15 18C15 16.3431 16.3431 15 18 15C19.6569 15 21 16.3431 21 18Z" fill="#fff"></path> <path opacity="0.1" d="M9 12C9 13.6569 7.65685 15 6 15C4.34315 15 3 13.6569 3 12C3 10.3431 4.34315 9 6 9C7.65685 9 9 10.3431 9 12Z" fill="#fff"></path> <path d="M21 6C21 7.65685 19.6569 9 18 9C16.3431 9 15 7.65685 15 6C15 4.34315 16.3431 3 18 3C19.6569 3 21 4.34315 21 6Z" stroke="#fff" stroke-width="2"></path> <path d="M21 18C21 19.6569 19.6569 21 18 21C16.3431 21 15 19.6569 15 18C15 16.3431 16.3431 15 18 15C19.6569 15 21 16.3431 21 18Z" stroke="#fff" stroke-width="2"></path> <path d="M9 12C9 13.6569 7.65685 15 6 15C4.34315 15 3 13.6569 3 12C3 10.3431 4.34315 9 6 9C7.65685 9 9 10.3431 9 12Z" stroke="#fff" stroke-width="2"></path> <path d="M8.7207 10.6397L15.0001 7.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M8.70605 13.353L15 16.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          share</span>    
  </div>
   
        <span><a href="#" onclick="sendWhatsAppMessage();" rel="noopener" target="_blank" title="Share on WhatsApp" style="margin-left: 5px; margin-right: 5px;">
    <svg width="25" height="25" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" fill="#25D366" />
</svg>

</a>

<script>
function sendWhatsAppMessage() {
  // Get the current page URL
  var currentPageUrl = window.location.href;

  // Encode the URL to be used in the WhatsApp message
  var encodedPageUrl = encodeURIComponent(currentPageUrl);

  // Compose the WhatsApp message with the current page URL
  var whatsappMessage = "Hey there, you've got to check out this amazing product - " + encodedPageUrl;

  // Compose the WhatsApp API link with the message
  var whatsappApiLink = "https://api.whatsapp.com/send?text=" + whatsappMessage;

  // Open the WhatsApp link in a new tab
  window.open(whatsappApiLink, "_blank");
}
</script></span>
        <span><a href="#" onclick="shareOnFacebook();" rel="noopener" title="Share on Facebook" style="margin-right: 3px;">
  <svg xmlns="http://www.w3.org/2000/svg" height="25px" width="25px" viewBox="0 0 512 512" fill="#385C8E">
    <path d="M134.941,272.691h56.123v231.051c0,4.562,3.696,8.258,8.258,8.258h95.159
    c4.562,0,8.258-3.696,8.258-8.258V273.78h64.519c4.195,0,7.725-3.148,8.204-7.315l9.799-85.061c0.269-2.34-0.472-4.684-2.038-6.44
    c-1.567-1.757-3.81-2.763-6.164-2.763h-74.316V118.88c0-16.073,8.654-24.224,25.726-24.224c2.433,0,48.59,0,48.59,0
    c4.562,0,8.258-3.698,8.258-8.258V8.319c0-4.562-3.696-8.258-8.258-8.258h-66.965C309.622,0.038,308.573,0,307.027,0
    c-11.619,0-52.006,2.281-83.909,31.63c-35.348,32.524-30.434,71.465-29.26,78.217v62.352h-58.918c-4.562,0-8.258,3.696-8.258,8.258
    v83.975C126.683,268.993,130.379,272.691,134.941,272.691z"/>
  </svg>
</a>

<script>
function shareOnFacebook() {
  var currentPageUrl = window.location.href;
  var encodedPageUrl = encodeURIComponent(currentPageUrl);
  var facebookMessage = "Hey there, you've got to check out this amazing retailer - ";
  var facebookApiLink = "https://www.facebook.com/sharer.php?u=" + encodedPageUrl + "&quote=" + encodeURIComponent(facebookMessage);

  // Try navigating to the Facebook share link
  window.location.href = facebookApiLink;
}
</script>
</span>
        <span><!-- Twitter Share -->
<a class="twitter-share-button" href="#" onclick="sendTwitterMessage();" rel="noopener" target="_blank" title="Share on Twitter" aria-label="Share on Twitter" style="margin-right: 3px;">
  <svg width="25" height="21" viewBox="0 0 25 21" fill="#1DA1F2" xmlns="http://www.w3.org/2000/svg">
    <path d="M22.4302 5.06025C22.446 5.28232 22.446 5.50444 22.446 5.72651C22.446 12.5 17.2906 20.3045 7.86802 20.3045C4.96509 20.3045 2.26841 19.4638 0 18.0044C0.412451 18.052 0.808984 18.0679 1.2373 18.0679C3.63257 18.0679 5.83755 17.2589 7.59834 15.8788C5.3458 15.8312 3.45811 14.356 2.80771 12.3255C3.125 12.373 3.44224 12.4048 3.77539 12.4048C4.2354 12.4048 4.69546 12.3413 5.12373 12.2303C2.77603 11.7544 1.01519 9.69224 1.01519 7.20176V7.13833C1.69727 7.51904 2.49048 7.75698 3.33115 7.78867C1.95107 6.8686 1.04692 5.29819 1.04692 3.52153C1.04692 2.56978 1.30068 1.69731 1.74487 0.935889C4.26709 4.04502 8.05835 6.07544 12.3096 6.29756C12.2303 5.91685 12.1827 5.52031 12.1827 5.12373C12.1827 2.3001 14.4669 0 17.3064 0C18.7816 0 20.1141 0.618652 21.05 1.61802C22.208 1.39595 23.3184 0.967627 24.302 0.380713C23.9212 1.57046 23.1122 2.56982 22.0494 3.2043C23.0805 3.09331 24.0799 2.80771 24.9999 2.41118C24.3021 3.42637 23.4295 4.33052 22.4302 5.06025V5.06025Z"
            fill="#1DA1F2" />
  </svg>
</a>

<script>
function sendTwitterMessage() {
  // Get the current page URL
  var currentPageUrl = window.location.href;

  // Get the merchant pin location
  var merchantPinLocation = "{{ page.merchant.customFields.pinlocation }}";

  // Compose the tweet message with the current page URL and merchant pin location
  var tweetMessage = "Hey there, you've got to check out this amazing retailer - " + currentPageUrl + "! 🛍👌 Also, make sure to visit their physical store located at a convenient location near you! " + merchantPinLocation + " 🏬📍";

  // Compose the Twitter share link with the tweet message
  var twitterShareLink = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(tweetMessage);

  // Open the Twitter share link in a new tab
  window.open(twitterShareLink, "_blank");
}
</script>
</span>
</div>

<style>
  
  .buttons-share {
    position: relative;
    width: 10em;
    height: 3em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef2f3;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.479);
    overflow: hidden;
}

.follow {
    background-color: #373B44;
    color: whitesmoke;
    position: absolute;
    width: 10rem;
    height: 3rem;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}

.buttons-share span {
    margin: .5em;
}


.buttons-share:hover .follow {
    transform: translateX(-10rem);
}

a {
  color:black;
}
</style>
     
     
</div>
                  
{% endblock %}

        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
